body {
    padding: 4% 7%;
    margin: 0;
}

* {
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    line-height: 142.6%;
    font-weight: 500;
    list-style: none;
}

*:visited {
    color: inherit;
}