.cntnr_slider {
    position: relative;
    width: 100%;
    height: 415px;
    margin: 2% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider {
    position: absolute;
    object-fit: cover;
    border-radius: 25px;
    width: 100%;
    height: 415px;
    z-index: -1;
}

.leftArrow {
    transform:  rotate(180deg);
    padding: calc((415px - 80px) / 2) 20px; /* la hauteur du carrousel -la hauteur du chevron /2 qui me donnne toute la hauteur pour cliquer.*/
}

.leftArrow:hover {
    cursor: pointer;
}

.rightArrow {
    padding: calc((415px - 80px) / 2) 20px;
}

.rightArrow:hover {
    cursor: pointer;
}

@media only screen and (max-width: 500px){
    .cntnr_slider {
        height: 255px;
    }
    .slider {
        height: 255px;
    }
    .leftArrow {
        transform: scale(.5) rotate(180deg);
    }
    .rightArrow {
        transform: scale(.5);
    }
}