.name {
    display: flex;
    justify-content: start;
    text-align: right;
    margin-right: 5px;
    width: 50%;
}

.face {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: clip;
}

@media only screen and (max-width: 500px){
    .name {
        font-size: 12px!important;
        width: 25%;
        margin-right: 25px;
    }
    .face {
        width: 32px;
        height: 32px!important;
    }
}