.ctnr_tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.cntnr_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cntnr_host {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-bottom: 10px;
}