.font {
    font-family: 'Montserrat', sans-serif;
}

.font_500 {
    font-weight:500;
}

.list_no_decoration {
    list-style: none;
}

.text_primary {
    color: #FF6060;
}

.text_secondary {
    color: #F6F6F6;
}

.text_tertiary {
    color: #000000;
}